.app {
  width: 500px;
  height: 500px;
  background-color: #1c173f;
  border-radius: 16px;
  /* justify-content: center; */
  flex-direction: column;
  display: flex;
  align-items: center;
}

.app h1 {
  color: white;
  display: flex;
  align-items: center;
}
